{% load static %}


<body style="background-image: {% static 'media/india.webp' %}">
{% block common %}
    {% include 's_admin/menu.html' %}

     <br><br><br>

    {% if request.session.status %}

        <table align="center" border="2">
    <tr><td><button type="submit">Add States</button> </td></tr>
    <tr><td><button type="submit">View States</button> </td></tr>
    <tr><td><h3>State Home</h3></td></tr>
</table>

     {% else %}
        <h3 align="center" style="color: Red ; font-family: 'Bitstream Vera Sans Mono';font-style: italic"> Please Login</h3>
    {% endif %}



{% endblock %}

</body>