{% load static %}


<body style="background-image: url({% static 'media/state bg color.jpg' %}) ;
  background-repeat: no-repeat; background-size: 100% 100%" >
{% block common %}
    {% include 's_admin/menu.html' %}


    {% if request.session.status %}
        <table align="center" border="2">
            <tr><td><form action="{% url 'view_approved_status' %}"><button type="submit">Approved</button></form></td></tr><br><br>
                        <tr><td><form action="{% url 'view_cancel_status' %}"><button type="submit">cancel</button></form></td></tr><br><br>

        </table>
                    <br><br><br>
            <table align="center" border="2" style="font-size: 20px">

            <tr><th>S.No</th><th>Restaurant Name</th><th>Area</th><th>Type</th><th>Contact No</th><th>Email</th><th>Status</th></tr>
            {% for x in object_list %}
              <tr><td>{{ x.restaurant_id }}</td><th>{{ x.restaurant_name }}</th><th>{{ x.restaurant_area }}</th><th>{{ x.restaurant_type }}</th><th>{{ x.restaurant_contact_no }}</th><th>{{ x.restaurant_Email }}</th><th>{{ x.restaurant_status }}</th></tr>
            {% endfor %}

            </table>

     {% else %}
        <h3 align="center" style="color: Red ; font-family: 'Bitstream Vera Sans Mono';font-style: italic"> Please Login</h3>
    {% endif %}


    <lable style="text-align: center;color: aqua; "><h1>{{ message}}</h1></lable>

{% endblock %}
</body>