{% load static %}

<body style="background-image: url({% static 'media/admin bg.jpg' %}) ;
  background-repeat: no-repeat; background-size: 100% 100%" >

{% block common %}

{% include 's_admin/menu.html' %}

    <br><br><br>

    {% if request.session.status %}

        <table align="center" border="0">
        <tr><td><h3>Admin Home</h3></td></tr>
    <tr><td><img src="{% static "media/admin3.jpg" %}"></td></tr>

</table>

     {% else %}
        <h3 align="center" style="color: Red ; font-family: 'Bitstream Vera Sans Mono';font-style: italic"> Please Login</h3>
    {% endif %}

{% endblock %}

</body>