{% extends 's_admin/common.html' %}


{% block common %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'admin_home' %}">AdminHome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_state' %}">State <span class="sr-only">(current)</span></a>
      </li>
              <li class="nav-item active">
        <a class="nav-link" href="{% url 'view_city' %}">City <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'area_operations' %}">Area <span class="sr-only">(current)</span></a>
          <li class="nav-item active">

        <a class="nav-link" href="{% url 'insert_restaurant' %}">Restaurant_type <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'restaurant_status' %}">Restaurant Status   <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'pending_restaurant_status' %}">Pending Rstaurant Status   <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_logout' %}">Logout<span class="sr-only">(current)</span></a>
      </li>
      </li>

    </ul>
  </div>
</nav>
{% endblock %}