{% load static %}


<body style="background-image: url({% static 'media/city.jpg' %}) ;
  background-repeat: no-repeat; background-size: 100% 100%" >
{% block common %}
    {% include 's_admin/menu.html' %}

     <br><br><br>

    {% if request.session.status %}


        <br><br>

                    <form action="{% url 'update_city_data'  %}" method="post">
                      {% csrf_token %}
                    <table align="center" border="0">
                     <thead><th style="text-align: center;height: 50px; width: 50px;" colspan="2">City Update Operations</th></thead>
                        <tr><td>City Id : </td><td colspan="2"><input type="hidden" value="{{ data.city_id }}" name = 'cno' style="text-align: center">   {{data.city_id }} </td>
                     <tr><td>City Name</td><td><input type="text" value="{{ data.city_name }}" name="cname"></td></tr>


                        <tr><td>State Name : </td><td><select name="state"> {% for x in data1 %} <option required value="{{ x.state_id}}" >{{ x.state_name }}</option>{% endfor %}</select></td></tr>

                        <tr><td align="center" style="text-align: center" colspan="2"><button type="submit">Update</button></td></tr>
                     </table>

                </form>
            <br> <lable style="text-align: center;color: aqua; "><h1>{{ message}}</h1></lable>
        <br><br>






     {% else %}
        <h3 align="center" style="color: Red ; font-family: 'Bitstream Vera Sans Mono';font-style: italic"> Please Login</h3>
    {% endif %}




{% endblock %}
</body>